@use "base/vars" as *;
@use "mixins/responsive" as *;

@forward "utils/themes";
@forward "vendor/normalize.css";

html {
  min-height: 100vh;
}

body {
  font-family: $font-family;
  color: theme-var($text-400);

  background: theme-var($background-400);
}


html,
body {
  min-height: 100vh;
}

* {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}

a {
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
